.flex-container{
display: flex;
border: 2px solid red;
}
.as{
    border: 2px solid;
}
.flex-child-1{
    flex: 2 1 100%;
}
.flex-child-2{
    flex: 3 2 50%;
}
.flex-child-3{
    flex: 4 3 30%;
}